/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

#login_hero-image{
  background-image: url("./assets/images/pexels-josh-hild-2422265.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}